/* 全局样式表 */
// 主题色
$key_title_color: #2e343b;
$key_color: rgb(32,80,179);
$key_color_light: rgb(96, 161, 240);
$background_color: #fbfbfb;

// 字体色
$important_font_color: #5a5a5a;
$ordinary_font_color: #606060;
$unimportant_font_color: #adadad;

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 14px;
}

.el-dialog {
    border-radius: 5px;
}

.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
}

.margin_top_20{
    margin-top: 20px;
}
