/* 全局样式表 */
// 主题色
$key_title_color: #81677e;
$key_color: #a581a0;
$key_color_2: #bd9bb7;
$key_color_3: #dabad2;
$key_color_4: #e7d5e4;
$key_color_5: #f7f2f6;

// 字体
$title_font_family: PingFang SC;

// 字体色
$important_font_color: #5a5a5a;
$ordinary_font_color: #606060;
$unimportant_font_color: #adadad;